[Unit]
Description=An Online PAC https://github.com/txthinking/pac

[Service]
LimitCORE=infinity
LimitNOFILE=65536
LimitNPROC=65530
LimitSTACK=25600
ExecStart=/home/tx/go/bin/pac --listen :1901 --cycle 86400
KillMode=control-group
Restart=always
Type=simple

[Install]
WantedBy=multi-user.target

